* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  background-color: #F1E5C7; /* library cream */
  -border: 1px solid blue;
}

a {
  color: #F59A2C; /* UVA orange*/
  text-decoration: none;
  margin-top: 10px;
}

@media only screen and (min-width: 1024){
  body {
    width: 1024px;
  }
}

header, footer {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  display: inline;
}

h2, h3 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}

h2 {
  border-top: #7AC143 solid 4px;
  color: #0D3268; /*UVA navy = color-1*/
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  padding:10px;
  padding-left:0px;
  border-top: #CBB677 solid 3px;
}

img {
  padding: 5px;
}

select {
  font-size: 14px;
}

p {
  color:;
  font-size: 16px;
  line-height: 16px;
}

ul {
  list-style-type: none;
}



.bio-col-left, .bio-col-center, .bio-col-right {
  max-height: 240px;
}

.bio-col-left {
  float: left;
  height:235px;
  width:240px;
}

.bio-col-center {
  float: left;
  height: 100px;
  width: 350px;
}

.bio-col-right {
  float: left;
  width: 300px;
}

.bio-msg {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

.clearfix {
  overflow: auto;
}

.color-1{color:#0D3268;} /*UVA navy*/
.color-2{color:#CBB677;} /*JMU gold*/
.color-3{color:#7AC143;} /*library green*/
.color-4{color:#F59A2C;} /*UVA orange*/
.color-5{}
.color-6{}
.color-7{color:#F1E5C7;} /*library cream*/

.contact-entry {
  color: #FFFFFF;
  font-weight: bold;
  text-align: right;
}

.detail-text {
  color: #CBB677;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  padding-left: 2%;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  display: block;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.text-bold {
  font-weight:bold;
}






#skillsH3 {
  color: #F5AE23;
  display: none;
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  --.bio-pic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  --.bio-pic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .bio-pic {
    display: block;
  }
}
